DEBUG=true

TELEGRAM_BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN_HERE>

# Use this for local development
# DB_PATH=./data/anapa2006.db

# By default pointing to the rsshub service in compose.yaml
# RSSHUB_BASE_URL=http://rsshub:1200

# FETCH_INTERVAL=15m